<!DOCTYPE html>
<html>
<head>
<title>StarWars - Numberz</title>
<link rel="stylesheet" type="text/css" href="/css/stylesheets.css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tajawal:400,500" rel="stylesheet">
</head>
<body class="">
<div class="starwarsfield _bgleft"></div>	
<div class="starwarsfield _bgright"></div>
<div class="logo">
<a href=""><img src="/imgs/swlogo.svg" alt="StarWars"></a>	
</div>	
<div id="starwars_numberz">
	
</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/babel" src="/scripts/numberz.js"></script>
<script src="/scripts/react.min.js"></script>
<script src="/scripts/react-dom.min.js"></script>
<script src="/scripts/browser.min.js"></script>
<script src="/scripts/JSXTransformer-0.12.2.js"></script>
</html>
